.accordion-item {
    width: 100%;
    border: 1px solid #ccc;
}

.accordion-title {
    padding: 0.5em;
    background-color: #eee;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    transition: transform 0.3s ease;
}

.accordion-content {
    height: 0;
    padding: 0 1em;
    overflow: hidden;
    transition: padding 0.3s ease;
}

.accordion-item.active .arrow {
    transform: rotate(90deg);
}

.accordion-item.active .accordion-content {
    height: 100%;
    padding: 1em;
}